{% extends 'base.html' %}

{% block content %}

<style>
    .home-container{
        display: grid;
        grid-template-columns:1fr 3fr;
    }
</style>

<div class='home-container'>
    <div>
        <h3>Browse Topics</h3>
        <hr>
        <div>
            <a href="{% url 'main:home' %}">All</a>
        </div>
        {% for topic in topics %}
        <div>
            <a href="{% url 'main:home' %}?q={{topic.name}}">{{topic.name}}</a>
        </div>
        {% endfor %}

    </div>
    <div>
        <h1>This is the home page</h1>
        <h3><a href="{% url 'main:create-room' %}"><button>+Create a new room</button></a></h3>
        <hr>
        {% for room in rooms %}
            <a href='{% url "main:update-room" room.id %}'>
                <button>Edit</button>
            </a>
            <a href="{% url 'main:delete-room' room.id %}">
                <button>Delete</button>
            </a> 
            <span>@{{room.host.username}}</span>
            <h3>{{room.id}} ~ {{room.name}}</h3> 
            
            <small>{{room.topic.name}}</small>
            <hr>
        {% endfor %}
    </div>
    
</div>
{% endblock %}